<div class="page-view">
  <article>
    <h1 class="page-title"><%= page.title %></h1>
    <% if (!static) { %>
    <a href="/page/<%= page.link %>/edit">edit</a>
    | <a href="javascript:;"
       onclick='(prompt("Please enter \"OK\" to delete \"<%= page.title %>\":") + "").toUpperCase() == "OK" && delete_form.submit();'
      >delete</a>
    <% } %>
    </span>
    <p><%- marked(page.content) %></p>
  </article>
  <a href="/<%= static ? 'index.html' : '' %>">&#x276E; <%= blog.name %></a>

  <%- plugin.enable && plugin.pageBottom ? plugin.pageBottom() : '' %>

  <form id="delete_form" style="display: none" method="POST" action="/page/<%= page.link %>/delete"></form>
</div>
