<div>

  <% if (!static) { %>
    <a href="/post/new">+ Post</a>
    <span> &nbsp; </span>
    <a href="/page/new">+ Page</a>
    <span> &nbsp; </span>
    <a href="/index.html" target="_blank">• Preview</a>
    <a class="pull-right" href="/settings">&#x2206; Settings</a>
    <br/><br/>
  <% } %>

  <h1 class="blog-name" aria-label="Blog name" title="<%= blog.name %>"><%= blog.name %></h1>

  <nav>
    <% for (var i = 0; i < pages.length; i++) { %>
      <a class="page-menu" href="/<%= pages[i].link %><%= static ? '.html' : '' %>"><%= pages[i].title %></a>
    <% } %>
  </nav>

  <% for (var i = 0; i < posts.length; i++) { %>
    <div class="post-list post-list-description-<%= blog.description ? 'on' : 'off' %>">
      <div class="title-overflow">
        <span class="date pull-right"><time><%= (new Date(posts[i].time)).toLocaleString() %></time></span>
        <h2>
          <a href="/post/<%= posts[i].link %><%= static ? '.html' : '' %>"
             title="<%= posts[i].title %>"
             aria-label="Title">
            <%= posts[i].title %>
          </a>
        </h2>
        <%- plugin.enable && plugin.postLiTitleBottom ? plugin.postLiTitleBottom(posts[i]) : '' %>
      </div>
      <% if (blog.description) { %>
        <% if (posts[i].content.length <= 100) { %>
        <p><%= posts[i].content %></p>
        <% } else { %>
        <p><%= posts[i].content.substr(0, 80) %> ...</p>
        <% } %>
      <% } %>
    </div>
  <% } %>
  <% if (current == 2) { %>
    <a href="/<%= static ? 'index.html' : '' %>">&#x276E; Previous Page</a>
  <% } else if (current > 1) { %>
    <a href="/p/<%= current - 1 %><%= static ? '.html' : '' %>">&#x276E; Previous Page</a>
  <% } %>
  <% if (current < total) { %>
    <a href="/p/<%= current + 1 %><%= static ? '.html' : '' %>" class="pull-right">Next Page &#x276F;</a>
  <% } %>
</div>
